@mixin navigation-link(){
  display: block;
  font-size: rem(20px);
  padding: $nav-link-padding-y $grid-gutter-width/2;
  font-family: $headings-font-family;
  line-height: $headings-line-height;
  transition: $transition-base;
  transition-property: background-color;
  @include hover(){
    background-color: lighten($primary, 3%);
  }
  @include plain-hover-focus(){
    color: inherit;
    text-decoration: none;
  }
}

@mixin navigation-mobile(){
  @include media-breakpoint-down(md){
    @content;
  }
}
@mixin navigation-desktop(){
  @include media-breakpoint-up(lg){
    @content;
  }
}