.search-panel__inner {
  background: $light;
  padding: $grid-gutter-width;
  padding-right: $grid-gutter-width/2;
  display: flex;
  flex-flow: column nowrap;
  max-height: #{'calc(100vh - '$navigation-height')'};
  pointer-events: auto;
  .custom-scroll-bar{
    flex: 1 1 50vh;
    margin-left: $grid-gutter-width/-2;
  }
  .simplebar-track.horizontal{
    display: none !important;
  }
  .search-panel:not(.fixed-top) &{
    border-radius: $h4-font-size;
  }
}