.sidebar {
  position: relative;
  @supports (position: sticky) {
    @include media-breakpoint-up(md){
      transform: translate3d(0, 0, 0);
      z-index: 10;
      pointer-events: none;
      margin-right: -100%;
      padding-right: 100%;
      overflow: hidden;
      position: sticky;
      top: $navigation-height;
      max-height: #{'calc(100vh - '$navigation-height')'};
      > * {
        pointer-events: auto;
      }
    }
  }
}