.card-product__title {
  color: $gray-800;
  transition: $transition-base;
  transition-property: color;
  @include hover(){
    color: $link-hover-color;
  }
  &:not(:last-child){
    margin-bottom: $grid-gutter-width/6;
  }
}