.form-check__label {
  cursor: pointer;
  &:before{
    @include fi();
    content: '';
    font-size: 0.9rem;
    position: absolute;
    left: 0;
    top: 0.3rem;
    width: 1rem;
    height: 1rem;
    box-sizing: content-box;
    border: $border-width solid $input-border-color;
    border-radius: 3px;
    color: theme-color('primary');
    @each $color, $value in $theme-colors {
      .form-check_#{$color} &{
        color: $value
      }
    }
  }
  input[type='checkbox']:checked ~ &:before{
    content: map_get($icons, 'check');
    text-align: center;
    font-size: 80%;
    line-height: $font-size-base;
  }
  input[type='radio']:checked ~ &:before{
    background-color: theme-color('primary');
    box-shadow: inset 0 0 0 3px $body-bg;
    @each $color, $value in $theme-colors {
      .form-check_#{$color} &{
        background-color: $value
      }
    }
  }
}