.header__snippet {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  line-height: $headings-line-height;
  color: $primary;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  @include media-breakpoint-up(xl){
    padding-left: $grid-gutter-width;
    &:before{
      content: '';
      background: $primary-gradient;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 3px;
    }
  }
}