.card-news__title {
  @include GatewayForProperty($h6-font-size, $h4-font-size, $page-min-width, map_get($grid-breakpoints, 'md'));
  line-height: $font-size-base * $line-height-base;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  padding-bottom: .7em;
  padding-top: .3em;
  box-sizing: content-box;
  max-height: $font-size-base * 1.857142857142857 * 3;
  overflow: hidden;
  .a, a{
    text-decoration: none;
    color: inherit;
    @include hover(){
      color: $primary;
    }
  }
}
