.custom-scroll-bar {
  $custom-scroll-bar-size: 8px;
  overflow: auto;
  &[data-simplebar]{
    display: flex;
    overflow: hidden;
    position: relative;
    z-index: 0;
    max-height: inherit;
    -webkit-overflow-scrolling: touch;
  }
  .simplebar-scroll-content {
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 100%;
    max-height: inherit;
    box-sizing: content-box;
  }
  .simplebar-content {
    overflow-y: hidden;
    overflow-x: scroll;
    min-height: 100%;
    box-sizing: content-box;
  }
  .simplebar-track {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    width: $custom-scroll-bar-size;
    background: $light;
    border-radius: $badge-pill-border-radius;
  }

  .simplebar-scrollbar {
    position: absolute;
    right: 2px;
    width: $custom-scroll-bar-size;
    min-height: $custom-scroll-bar-size;
    background: $primary-gradient;
    border-radius: $badge-pill-border-radius;
  }
  .simplebar-track.vertical {
    top: 0;
    background: linear-gradient(to right, rgba($light, 0) 0%, rgba($light, 0) 30%, $light 30%, $light 70%, rgba($light, 0) 70%, rgba($light, 0) 100%);
  }
  .simplebar-track.horizontal {
    left: 0;
    width: auto;
    height: $custom-scroll-bar-size;
    background: linear-gradient(to bottom, rgba($light, 0) 0%, rgba($light, 0) 30%, $light 30%, $light 70%, rgba($light, 0) 70%, rgba($light, 0) 100%);
  }
  .simplebar-scrollbar {
    right: auto;
    top: 2px;
    height: $custom-scroll-bar-size;
    min-height: 0;
    min-width: $custom-scroll-bar-size;
    width: auto;
  }
  &::-webkit-scrollbar {
    width: $custom-scroll-bar-size;
  }
  &::-webkit-scrollbar-track{
    border-radius: $badge-pill-border-radius;
    background: linear-gradient(to right, rgba($light, 0) 0%, rgba($light, 0) 30%, $light 30%, $light 70%, rgba($light, 0) 70%, rgba($light, 0) 100%);
  }
  &::-webkit-scrollbar-thumb{
    background: $primary-gradient;
    border-radius: $badge-pill-border-radius;
  }
}