.product-panel__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: $grid-gutter-width/-2;
  margin-right: $grid-gutter-width/-2;
  @include media-breakpoint-up(lg){
    flex-wrap: nowrap;
  }
  & &{
    margin-left: $grid-gutter-width/-6;
    margin-right: $grid-gutter-width/-6;
  }
}