.basket-list__total {
  display: inline-block;
  font-weight: $headings-font-weight;
  @include media-breakpoint-up(sm) {
    min-width: 264px; // Магическое число необходимо для выравнивания цены по вертикали
    @include media-breakpoint-down(lg) {
      min-width: 234px; // Магическое число необходимо для выравнивания цены по вертикали
    }
  }
}