.map__pane {
  display: flex;
  flex-flow: column nowrap;
  background-color: $white;
  padding: $grid-gutter-width/2;
  pointer-events: auto;
  margin-bottom: 0;
  overflow: hidden;
  max-height: 200px;
  .simplebar-track.horizontal{
    display: none !important;
  }
  &:empty{display: none}
  @include media-breakpoint-up(lg) {
    max-height: none;
    border-radius: $border-radius;
    float: right;
    min-width: $page-min-width - $grid-gutter-width;
    max-width: 50%;
    height: 100%;
  }
}