.card-news__wrapper {
  position: relative;
  .card-news:not(.show) & {
    overflow: hidden;
    height: $line-height-base * $font-size-base * 5;
    &:after{
      content: '';
      display: block;
      height: $font-size-base * $line-height-base;
      background: $white;
      position: relative;
    }
  }
}