.subscribe__description {
  font-size: rem(10px);
  line-height: $headings-line-height;
  color: $gray-500;
  @include media-breakpoint-down(lg){
    padding-top: $grid-gutter-width/3;
    padding-bottom: $grid-gutter-width/3;
  }
}