.navigation-panel__title {
  flex: 1 1 0px;
  display: block;
  font-size: rem(20px);
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  padding: $nav-link-padding-y $nav-link-padding-x;
  @include navigation-desktop(){
    display: none;
  }
}