.sort__control {
  border-radius: $grid-gutter-width/6;
  padding: rem(7px) $input-padding-x;
  background-color: $gray-100;
  cursor: pointer;
  @include media-breakpoint-up(md){
    display: inline-block;
  }
  &:after{
    color: $primary;
    vertical-align: 0.155em;
  }
  &:before{
    content: attr(data-label);
  }
  span{
    color: $primary;
    border-bottom: 1px dashed;
  }
  @include media-breakpoint-down(sm){
    font-family: $headings-font-family;
    line-height: $headings-line-height;
    font-weight: $headings-font-weight;
    font-size: $h5-font-size;
    color: $gray-600;
    padding-top: $filter-padding-vertical;
    padding-bottom: $filter-padding-vertical;
    padding-left: $filter-padding-horizontal;
    padding-right: $filter-padding-horizontal;
    display: block;
    text-decoration: none;
    position: relative;
  }
}