.subscribe__label {
  display: block;
  margin: 0;
  flex: 1 1 0px;
  padding-top: $grid-gutter-width/3;
  padding-bottom: $grid-gutter-width/3;
  padding-left: $spacer;
  padding-right: $spacer;
  position: relative;
  &:after{
    content: '';
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba($gray-400, 0) 0%, rgba($gray-400, 1) 100%);
    width: $spacer * 2;
  }
}