.card-product_variant_row {
  background: transparent;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  .card-product__col{
    flex-basis: 150px;
    .card-product__col{
      flex-basis: 100px;
    }
  }
  &:not(:last-child){
    margin-bottom: $grid-gutter-width;
  }
}