.toolbar {
  padding-top: $grid-gutter-width/6;
  padding-bottom: $grid-gutter-width/6;
  font-family: $font-family-sans-serif;
  font-size: rem(13px);
  background-color: $gray-100;
  margin-bottom: $grid-gutter-width/3;
  &.sticky-top{
    position: relative; // Хак фиксации отступа для modal.js
  }
}