.btn {
  font-family: $headings-font-family;
  text-decoration: none;
  text-transform: uppercase;
}
.btn-gradient-primary{
  @include button-gradient-variant($chlorine, $green, $orange, $pink);
}
.btn-gradient-danger{
  @include button-gradient-variant($orange, $pink);
}
.btn-gradient-secondary{
  @include button-gradient-variant($light, $dark);
}