.form-control{
  &:not(textarea){
    &:not([type="file"]){height: $input-height}
  }
}
.form-control-sm{
  &:not(textarea){
    &:not([type="file"]){height: $input-height-sm}
  }
}
.form-control-lg{
  font-size: $font-size-base;
  &:not(textarea){
    &:not([type="file"]){height: $input-height-lg}
  }
}
textarea.form-control{
  border-radius: $border-radius;
}