@keyframes progress-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.progress-updated {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  @include gradient-striped();
  background-color: rgba($white, 0.5);
  background-size: $progress-height $progress-height;
  animation: progress-bar-stripes $progress-bar-animation-timing;
  &:before{
    content: '';
    display: block;
    position: absolute;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    margin: -0.5em;
    color: $primary;
    border-radius: 50%;
    border: 3px solid;
    border-bottom-color: transparent;
    animation: progress-spin 2s infinite linear;
    @supports (position: sticky){
      position: sticky;
      margin: $grid-gutter-width * 2 auto;
    }
  }
}