.text-small {
  font-size: $font-size-sm;
}
.text-large {
  font-size: $font-size-lg;
}
.text-base{
  font-size: $font-size-base;
}
.text-decoration-underline{
  text-decoration: underline;
}
.text-decoration-none{
  text-decoration: underline;
}
.text-primary-gradient{
  color: $primary;
  @supports (-webkit-background-clip: text) {
    color:transparent;
    background-image: $primary-gradient;
    -webkit-background-clip: text;
  }
}
.text-danger-gradient{
  color: $danger;
  @supports (-webkit-background-clip: text) {
    color:transparent;
    background-image: $danger-gradient;
    -webkit-background-clip: text;
  }
}

.bg-pattern {
  background-image:  url(#{'images/pattern.png'}); // Путь указан так из за неочевидного подключения файа type.scss
  background-position: 50%;
}