.card-news__more {
  background-color: $white;
  left: 0;
  right: 0;
  color: $link-color;
  .a, a{
    text-decoration: none;
    border-bottom: 1px dashed;
    span{
      display: none;
      +span{
        display: inline;
      }
    }
    .card-news:not(.show) &{
      span{
        display: inline;
        +span{
          display: none;
        }
      }
    }
  }
  .card-news__image ~ & {
    left: 120px + $grid-gutter-width; // 120px ширина изображения;
  }
  .card-news:not(.show) & {
    position: absolute;
    top: $line-height-base * $font-size-base * 4;
    display: block;
  }
}