.search__control {
  text-align: center;
  border: none;
  padding: 0;
  font-size: $font-size-lg;
  border-radius: $badge-pill-border-radius;
  width: 50px;
  cursor: pointer;
  flex: 0 0 50px;
  @include plain-hover-focus(){
    outline: none;
  }
  .fi{
    font-size: $h4-font-size;
    line-height: inherit;
  }
}