@font-face {
  font-family: 'Decima Round A';
  font-style: normal;
  font-weight: 300;
  src: local('Decima Round A Light'), local('DecimaRoundA-Light'),
  url('./fonts/decima-round-a-light.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Decima Round A';
  font-style: italic;
  font-weight: 300;
  src: local('Decima Round A Light Light Italic'), local('DecimaRoundA-LightItalic'),
  url('./fonts/decima-round-a-light-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Decima Round A';
  font-style: normal;
  font-weight: 400;
  src: local('Decima Round A Regular'), local('DecimaRoundA-Regular'),
  url('./fonts/decima-round-a.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Decima Round A';
  font-style: italic;
  font-weight: 400;
  src: local('Decima Round A Italic'), local('DecimaRoundA-Italic'),
  url('./fonts/decima-round-a-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Decima Round A';
  font-style: normal;
  font-weight: 700;
  src: local('Decima Round A Bold'), local('DecimaRoundA-Bold'),
  url('./fonts/decima-round-a-bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Decima Round A';
  font-style: italic;
  font-weight: 700;
  src: local('Decima Round A Bold Italic'), local('DecimaRoundA-BoldItalic'),
  url('./fonts/decima-round-a-bold-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}