.navigation-panel__link {
  @include navigation-mobile(){
    flex: 1 1 0px;
    @include navigation-link();
  }
  @include navigation-desktop(){
    display: block;
    font-size: $h4-font-size;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    padding-bottom: $grid-gutter-width/2;
    text-decoration: none;
    @include hover(){
      text-decoration: underline;
    }
    @include plain-hover-focus(){
      color: inherit;
    }
  }
}