$page-min-width: 320px !default; // Ширина самого узкого поддерживаемого экрана

//  Цвета:
$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #ef4b55 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffd100 !default;
$green:   #2f9343 !default;
$teal:    #20c997 !default;
$chlorine: #b9e700 !default;
$cyan:    #17a2b8 !default;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$primary:       $green !default;
$secondary:     $gray-300 !default;
$success:       $chlorine !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $pink !default;
$light:         $gray-200 !default;
$dark:          $gray-700 !default;

$primary-gradient: linear-gradient(to bottom, $chlorine 0%, $green 100%);
$secondary-gradient: linear-gradient(to bottom, $light 0%, $dark 100%);
$danger-gradient: linear-gradient(to bottom, $orange 0%, $pink 100%);

$colors: (
  'chlorine' : $chlorine,
) !default;

// Grid
$grid-gutter-width:           30px !default;

// Spacing
$spacer:                      rem($grid-gutter-width) !default;
$spacers: (
  auto: 'auto',
) !default;

//
$border-radius:               $grid-gutter-width/3 !default;
$border-radius-lg:            $grid-gutter-width/3 !default;
$border-radius-sm:            $grid-gutter-width/6 !default;

// Body
$body-bg:       $white !default;
$body-color:    $dark !default;

// Links
$link-color:                $primary !default;
$link-decoration:           underline !default;
$link-hover-decoration:     none !default;
$link-hover-color:          $link-color !default;

// Fonts
$font-size-lg:                rem(16px) !default;
$font-size-sm:                rem(12px) !default;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;

$line-height-base:            1.7 !default;
$line-height-lg:              1.5 !default;
$line-height-sm:              1.3 !default;

// Icons
$icons-font-family:           'HeartOfRussia' !default;
$icons: () !default;
$icons: map-merge((
        user-o: "\e901",
        angle-left: "\e902",
        angle-up: "\e903",
        angle-down: "\e904",
        angle-right: "\e905",
        minus: "\e906",
        plus: "\e907",
        search: "\e908",
        shopping-basket: "\e909",
        star: "\e90a",
        star-o:"\e90b",
        mark:"\e900",
        heart: "\e90c",
        times: "\e90d",
        bar: "\e90e",
        check: "\e90f",
        bar-dot: "\e910",
        book: "\e911",
), $icons);

$font-family-sans-serif:      'PT Sans', sans-serif !default;
$font-family-base:            'Open Sans', sans-serif !default;
$headings-font-family:        'Decima Round A', sans-serif !default;
$headings-font-weight:        700 !default;
$headings-line-height:        1 !default;
$headings-color:              inherit !default;

$h1-font-size:                rem(48px) !default;
$h2-font-size:                rem(36px) !default;
$h3-font-size:                rem(30px) !default;
$h4-font-size:                rem(24px) !default;
$h5-font-size:                rem(18px) !default;
$h6-font-size:                rem(16px) !default;

$headings-margin-bottom:      $spacer !default;

$mark-bg:                     $primary !default;
$mark-padding:                0 !default;

// Grid breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
) !default;
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1170px,
) !default;


// Badges
$badge-pill-border-radius:    10rem !default;


// Buttons + Forms
$input-btn-padding-y:         rem(5px) !default;
$input-btn-padding-x:         rem(20px) !default;

$input-btn-padding-y-lg:      rem(9px) !default;
$input-btn-padding-x-lg:      rem(20px) !default;

$btn-font-weight:             $font-weight-bold !default;

$btn-border-radius:           $badge-pill-border-radius !default;
$btn-border-radius-lg:        $badge-pill-border-radius !default;
$btn-border-radius-sm:        $badge-pill-border-radius !default;

$input-border-radius:         $badge-pill-border-radius !default;
$input-border-radius-lg:      $badge-pill-border-radius !default;
$input-border-radius-sm:      $badge-pill-border-radius !default;

$form-check-input-gutter:     $grid-gutter-width !default;


// Modals
$modal-backdrop-bg:                 $gray-500 !default;
$modal-backdrop-opacity:            .7 !default;

//
$yiq-contrasted-threshold:     200 !default;

// Navigation
$navigation-height: 65px !default;

// Breadcrumb
$breadcrumb-item-padding: 10px;
$breadcrumb-divider: map_get($icons, 'bar-dot') !default;
$breadcrumb-padding-y: 0 !default;
$breadcrumb-padding-x: 0 !default;
$breadcrumb-margin-bottom: 0 !default;
$breadcrumb-border-radius:    0 !default;
$breadcrumb-bg: transparent !default;


// Filter
$filter-padding-vertical: 20px;
$filter-padding-horizontal: 25px;

// Product
$product-detail-width: 320px;