// TODO: добавляйте новые размеры изображений если планируете их использовать на сайте
$image-control-size: 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210,  240, 260, 265, 300, 340, 380, 420, 430, 460, 485, 500, 510, 540, 580, 600, 1140, 1920;
@mixin image-size($width, $height, $unit: px) {
  &_#{$width}x#{$height} {
    max-height: $height+$unit;
    flex-basis: $width+$unit;
    .fa, .fic {font-size: $height+$unit}
    &:before{padding-top:  percentage($height / $width)}
  }
}
.image_size {
  @for $i from 0 to length($image-control-size) {
    @for $j from 0 to length($image-control-size) {
      @include image-size(nth($image-control-size, $i+1), nth($image-control-size, $j+1));
    }
  }
}