.product__list {
  font-family: $font-family-sans-serif;
  columns: 2 250px;
  column-gap: $grid-gutter-width;
  list-style: none;
  &:not(:last-child){
    margin-bottom: $grid-gutter-width;
  }
  li{
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    position: relative;
    padding-left: $grid-gutter-width;
    padding-bottom: $grid-gutter-width/5;
    &:before{
      content: '';
      width: $line-height-base + em;
      height: $line-height-base + em;
      position: absolute;
      left: 0;
      top: 0;
      background-image: radial-gradient(ellipse at center, $primary 0%, $primary 15%, rgba($primary, 0) 20%, rgba($primary, 0) 100%);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}