.basket-list__footer {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
  padding-top: $grid-gutter-width/2;
  padding-bottom: $grid-gutter-width/2;
  margin-top: $grid-gutter-width/2;
  margin-bottom: 0;
  align-items: center;
  white-space: nowrap;
  line-height: $headings-line-height;
  &:not(:first-child){
    border-top: 1px solid $input-border-color;
  }
  @include media-breakpoint-down(sm) {
    font-size: $h4-font-size;
    padding-top: $grid-gutter-width/3;
    padding-bottom: $grid-gutter-width/3;
  }
}