.navigation-panel__item {
  @include navigation-mobile(){
    display: flex;
  }
  @include navigation-desktop(){
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    &:first-child{
      display: none;
    }
  }
}