.map__container {
  @include media-breakpoint-up(lg) {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: $grid-gutter-width;
    padding-bottom: $grid-gutter-width;
    padding-right: $grid-gutter-width * 1.5;
  }
}