.basket-list__item {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
  padding-top: $grid-gutter-width/6;
  padding-bottom: $grid-gutter-width/6;
  align-items: center;
  &:not(:first-child){
    border-top: 1px solid $gray-100;
  }
  @include media-breakpoint-down(xs) {
    padding-top: $grid-gutter-width/3;
    padding-bottom: $grid-gutter-width/3;
  }
  @include media-breakpoint-up(xl){
    flex-wrap: nowrap;
  }
}