.product__address {
  position: relative;
  padding-left: $grid-gutter-width;
  display: block;
  @include plain-hover-focus(){
    text-decoration: none;
    color: inherit;
  }
  &:before{
    font-family: $icons-font-family;
    content: map_get($icons, 'mark');
    color: $primary;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0.2em;
    @supports (-webkit-background-clip: text) {
      color: transparent;
      background-image: $primary-gradient;
      -webkit-background-clip: text;
    }
  }
}