.alphabet__list {
  @include GatewayForProperty($h6-font-size, $h4-font-size, $page-min-width, map_get($grid-breakpoints, 'md'));
  color: $dark;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-flow: row wrap;
  margin-left: $grid-gutter-width/-3;
  margin-right: $grid-gutter-width/-3;
  margin-bottom: 0;
  .a, a{
    color: inherit;
    text-decoration: none;
    transition: $transition-base;
    transition-property: color;
    @include hover(){
      color: $primary;
    }
  }
}