.product-panel__col {
  padding-top: $grid-gutter-width/2;
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
  flex: 1 1 190px;
  &:last-child{
    flex: 1 1 380px;
  }
  & &{
    padding-left: $grid-gutter-width/6;
    padding-right: $grid-gutter-width/6;
    flex: 1 0 190px !important;
  }
}