.basket-list__col {
  padding-top: $grid-gutter-width/6;
  padding-bottom: $grid-gutter-width/6;
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
  flex: 0 1 auto;
  @include media-breakpoint-down(lg) {
    padding-left: 20px;
    padding-right: 20px;
  }
}