.nav-panel {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  .a{
    color: inherit;
    text-decoration: inherit;
    @include hover(){
      text-decoration: underline;
    }
  }
}