h1, .h1{
  line-height: 1;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  &:not(:first-child){
    margin-top: $grid-gutter-width;
  }
}

h1, .h1 {
  @include GatewayForProperty($h3-font-size, $h1-font-size, $page-min-width, map_get($grid-breakpoints, 'md'));
}
h2, .h2 {
  @include GatewayForProperty($h4-font-size, $h2-font-size, $page-min-width, map_get($grid-breakpoints, 'md'));
}
h3, .h3 {
  @include GatewayForProperty($h4-font-size, $h3-font-size, $page-min-width, map_get($grid-breakpoints, 'md'));
}
h4, .h4 {
  @include GatewayForProperty($h6-font-size, $h4-font-size, $page-min-width, map_get($grid-breakpoints, 'md'));
}
h5, .h5 {
  @include GatewayForProperty($h6-font-size, $h5-font-size, $page-min-width, map_get($grid-breakpoints, 'md'));
}