.search__label {
  display: block;
  margin: 0;
  flex: 1 1 0px;
  padding-top: $font-size-sm;
  padding-bottom: $font-size-sm;
  padding-left: $spacer;
  padding-right: $spacer;
  position: relative;
  &:after{
    content: '';
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba($light, 0) 0%, rgba($light, 1) 100%);
    width: $spacer * 2;
  }
}