.card-product {
  font-family: $font-family-sans-serif;
  position: relative;
  color: $gray-600;
  background-color: $white;
  text-align: center;
  border-radius: $border-radius;
  transition: $transition-base;
  transition-property: box-shadow;
  padding: ($grid-gutter-width/3 * 2) $grid-gutter-width;
  &:not(.card-product_variant_row){
    box-shadow: 0 0 $grid-gutter-width rgba($gray-600, 0.1);
    @include hover(){
      box-shadow: 0 0 $grid-gutter-width rgba($gray-600, 0.25);
    }
  }
  @include media-breakpoint-up(lg){
    .swiper-row__pagination.d-lg-block ~ .swiper-wrapper & {
      padding-bottom: $grid-gutter-width;
    }
  }
}