.navigation__supernatant {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary;
  color: $white;
  opacity: 0;
  transition: $transition-fade;
  pointer-events: none;
  padding-left: $nav-link-padding-x;
  .navigation.fixed-top &{
    opacity: 1;
    pointer-events: auto;
  }
  @include media-breakpoint-down(xs){
    opacity: 1;
    pointer-events: auto;
  }
}