.form-check_variant_mark {
  padding-left: 0;
  display: block;
  color: inherit;
  text-decoration: inherit;
  .form-check__label{
    padding: $grid-gutter-width/5 $grid-gutter-width/2;
    padding-left: $form-check-input-gutter + $grid-gutter-width/2;
    border-radius: $border-radius-sm;
    width: 100%;
    &:before{
      margin: $grid-gutter-width/3 $grid-gutter-width/2;
      border: none !important;
      border-radius: 0 !important;
      box-shadow: none !important;
      font-size: $font-size-base;
      content: map_get($icons, 'mark');
      color: $primary;
      background-color: transparent !important;
      @supports (-webkit-background-clip: text) {
        color: transparent;
        background-image: $primary-gradient;
        -webkit-background-clip: text;
      }
    }
  }
  input:checked ~ .form-check__label{
    background-color: $light;
    &:before{
      color: $danger;
      background-color: transparent !important;
      @supports (-webkit-background-clip: text) {
        color:transparent;
        background-image: $danger-gradient;
        -webkit-background-clip: text;
      }
    }
  }
}