.nav-panel__title {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: $grid-gutter-width/2;
  padding-bottom: $grid-gutter-width/2;
}