.pagination-fluid__control {
  z-index: 20;
  top: 0;
  position: absolute;
  .page-link{
    background-color: $pagination-active-bg;
    color: $pagination-active-color;
    transition: $transition-base;
  }
  &_next{
    right: 0;
  }
  &_prev{
    left: 0;
  }
}