.shopping-basket__icon {
  width: 1em;
  height: 1em;
  position: absolute;
  pointer-events: none;
  line-height: 1;
  left: 0;
  top: 50%;
  margin-top: -0.5em;
  margin-left: -0.5em;
  font-size: rem($grid-gutter-width) *2;
}