.product__thumbnails {
  .row{
    margin-left: $grid-gutter-width/-5;
    margin-right: $grid-gutter-width/-5;
  }
  .swiper-slide{
    padding-left: $grid-gutter-width/5;
    padding-right: $grid-gutter-width/5;
    .image{
      border-radius: $border-radius-sm;
      border: 2px solid $light;
    }
    &.selected{
      .image{
        border-color: $primary;
      }
    }
  }
  &:not(:first-child){
    margin-top: $grid-gutter-width/2;
  }
  &:not(:last-child){
    margin-bottom: $grid-gutter-width;
  }
}