.search-panel {
  width: 100%;
  z-index: $zindex-fixed + 1;
  color: $body-color;
  display: none;
  pointer-events: none;
  transition: $transition-base;
  transition-property: transform;
  &:not(.fixed-top){
    position: absolute;
    margin-top: $grid-gutter-width/3;
  }
  &.show{
    display: block;
    @include media-breakpoint-up(md){
      &.fixed-top{
        transform: translateY($navigation-height);
      }
    }
  }
}
.search-panel-open{
  overflow: hidden;
}
.search-panel-backdrop{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-sticky - 10;
  background-color: $modal-backdrop-bg;
  &.fade { opacity: 0; }
  &.show { opacity: $modal-backdrop-opacity; }
}