.search-panel__duplicate {
  display: none;
  background-color: $primary;
  min-height: $navigation-height;
  align-items: center;
  @include media-breakpoint-down(sm){
    .search-panel.fixed-top & {
      display: flex;
    }
  }
}