.breadcrumb_swiper {
  position: relative;
  &:after{
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: $grid-gutter-width * 2;
    z-index: 1;
    background: linear-gradient(to right, rgba($white, 0) 0%, rgba($white, 1) 100%);
  }
}