.nav-panel__list {
  @include list-unstyled();
  margin-bottom: 0;
  padding-top: $grid-gutter-width/3;
  padding-bottom: $grid-gutter-width/2;
  li{
    &:not(:last-child){
      margin-bottom: 7px;
    }
  }
}