.product__instructions {
  border-radius: $border-radius;
  text-align: left;
  display: flex;
  align-items: center;
  color: $gray-600;
  .fi{
    font-size: 2em;
  }
  small{
    font-family: $font-size-base;
    font-size: $font-weight-base;
    line-height: 1;
    text-transform: none;
  }
}