.basket-list__text {
  // Пришлось жестко зафиксировать размер обходя ограничение flex в ie 11
  width: 100%;
  @include media-breakpoint-up(sm){width: 200px}
  @include media-breakpoint-up(md){width: 300px}
  @include media-breakpoint-up(lg){width: 300px}
  @include media-breakpoint-up(xl){width: 400px}
  .basket-list__item_remove &{
    @include media-breakpoint-up(sm){width: 300px}
    @include media-breakpoint-up(md){width: 400px}
    @include media-breakpoint-up(lg){width: 600px}
    @include media-breakpoint-up(xl){width: 700px}
  }
}