@font-face {
  font-family: 'Decima Round';
  font-style: normal;
  font-weight: 300;
  src: local('Decima Round Light'), local('DecimaRound-Light'),
  url('./fonts/decima-round-light.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Decima Round';
  font-style: italic;
  font-weight: 300;
  src: local('Decima Round Light Light Italic'), local('DecimaRound-LightItalic'),
  url('./fonts/decima-round-light-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Decima Round';
  font-style: normal;
  font-weight: 400;
  src: local('Decima Round Regular'), local('DecimaRound-Regular'),
  url('./fonts/decima-round.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Decima Round';
  font-style: italic;
  font-weight: 400;
  src: local('Decima Round Italic'), local('DecimaRound-Italic'),
  url('./fonts/decima-round-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Decima Round';
  font-style: normal;
  font-weight: 700;
  src: local('Decima Round Bold'), local('DecimaRound-Bold'),
  url('./fonts/decima-round-bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Decima Round';
  font-style: italic;
  font-weight: 700;
  src: local('Decima Round Bold Italic'), local('DecimaRound-BoldItalic'),
  url('./fonts/decima-round-bold-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}