.navigation-panel__inner {
  overflow: hidden;
  position: relative;
  height: 100%;
  overflow-y: auto;
  @include navigation-mobile(){
    padding-top: $grid-gutter-width/2;
    padding-bottom: $grid-gutter-width/2;
  }
  @include navigation-desktop(){
    columns: 4 200px;
    column-gap: $grid-gutter-width;
  }
}