.subscribe__title {
  font-weight: $headings-font-weight;
  font-family: $headings-font-family;
  line-height: $headings-line-height;
  margin: 0;
  padding-top: $grid-gutter-width/2;
  padding-bottom: $grid-gutter-width/2;
  @include media-breakpoint-up(lg){
    font-size: rem(20px);
    padding-bottom: 0;
    padding-top: 0;
  }
}