.navigation-panel {
  background-color: $primary;
  color: $white;
  z-index: $zindex-fixed;
  @include navigation-mobile{
    position: fixed;
    right: 100%;
    top: 0;
    bottom: 0;
    width: $page-min-width;
    transition: $transition-base;
    transition-property: transform;
    &.show{
      transform: translateX(100%);
      box-shadow: $box-shadow;
    }
  }
  @include navigation-desktop{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    padding: $grid-gutter-width;
    padding-bottom: $grid-gutter-width/2;
    max-height: #{'calc(100vh - '$navigation-height')'};
    overflow-y: auto;
    &.show{
      display: block;
    }
  }
}

.navigation-panel-open{
  overflow: hidden;
}
.navigation-panel-backdrop{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-sticky - 10;
  background-color: $modal-backdrop-bg;
  &.fade { opacity: 0; }
  &.show { opacity: $modal-backdrop-opacity; }
}