.custom-scroll-bar_variant_white {
  &::-webkit-scrollbar-track{
    background: linear-gradient(to right, rgba($white, 0) 0%, rgba($white, 0) 30%, $white 30%, $white 70%, rgba($white, 0) 70%, rgba($white, 0) 100%);
  }
  .simplebar-track.vertical {
    background: linear-gradient(to right, rgba($white, 0) 0%, rgba($white, 0) 30%, $white 30%, $white 70%, rgba($white, 0) 70%, rgba($white, 0) 100%);
  }
  .simplebar-track.horizontal {
    background: linear-gradient(to bottom, rgba($white, 0) 0%, rgba($white, 0) 30%, $white 30%, $white 70%, rgba($white, 0) 70%, rgba($white, 0) 100%);
  }
}