.subscribe__control {
  text-align: center;
  border: none;
  padding: 3px;
  font-family: $headings-font-family;
  font-size: $font-size-base;
  font-weight: $headings-font-weight;
  border-radius: $badge-pill-border-radius;
  min-width: $font-size-base * $line-height-base + $font-size-sm * 2;
  cursor: pointer;
  @include plain-hover-focus(){
    outline: none;
  }
  .fi{
    font-size: $h4-font-size;
    line-height: inherit;
  }
}