.product-panel__price {
  font-family: $font-family-sans-serif;
  font-weight: bold;
  white-space: nowrap;
  line-height: 1;
  padding-top: $h5-font-size;
  @include GatewayForProperty($h4-font-size, $h1-font-size, $page-min-width, map_get($grid-breakpoints, 'md'));
  position: relative;
  > del,
  > span,
  > small{
    position: absolute;
    top: 0;
    font-size: $h5-font-size;
    font-weight: $font-weight-normal;
    > * {
      &:not(:last-child){
        margin-right: $grid-gutter-width/3;
      }
    }
  }
  .badge{
    background-color: $gray-400;
    color: $primary;
    font-weight: normal;
  }
}