.footer__phone {
  .a, a{
    font-size: rem(28px);
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    white-space: nowrap;
    @include plain-hover-focus(){
      color: $pink;
      text-decoration: none;
    }
  }
  small{
    display: block;
    line-height: 1;
    font-weight: $font-weight-light;
  }
}