.navigation-panel__dropdown {
  @include navigation-mobile(){
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    background-color: $primary;
    width: 100%;
    transform: translateX(0);
    transition: $transition-base;
    transition-property: transform;
    padding-top: $grid-gutter-width/2;
    padding-bottom: $grid-gutter-width/2;
    &.show{
      transform: translateX(-100%);
    }
  }
  @include navigation-desktop(){
    padding-bottom: $grid-gutter-width;
    padding-top: $grid-gutter-width/3;
  }
}