.card-product__control_border_dotted {
  background-image: linear-gradient(to right,
          rgba($gray-500,0) 0%,
          rgba($gray-500,0) 50%,
          rgba($gray-500,1) 50%,
          rgba($gray-500,1) 50%,
          rgba($gray-500,0) 100%);
  background-size: 7px 1px;
  background-repeat: repeat-x;
}