.shopping-basket {
  font-family: $font-family-sans-serif;
  position: relative;
  border-radius: $border-radius;
  width: 100%;
  display: block;
  padding: $grid-gutter-width/3 $grid-gutter-width/3 $grid-gutter-width/3 25px;
  background-color: $primary;
  z-index: $zindex-dropdown;
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  transition: $transition-base;
  transition-property: background-color;
  span{
    display: block;
    &:not(:last-child){
      margin-right: 0.5em;
    }
  }
  @include hover(){
    background-color: lighten($primary, 3%);
  }
  @include plain-hover-focus(){
    color: $white;
    text-decoration: none;
  }
}