.breadcrumb-item {
  width: auto;
  height: auto;
  display: block;
  a{
    text-decoration: none;
  }
  &:before{
    @include fi();
    vertical-align: middle;
    font-size: 65%;
    line-height: inherit;
  }
}