.map {
  position: relative;
  border: 1px solid $gray-100;
  min-height: $page-min-width;
  @include media-breakpoint-up(lg) {
    &:before{
      content: '';
      display: block;
      padding-top: 37%;
    }
  }
}