.product-panel__favorite {
  text-decoration: none;
  color: inherit;
  .fi{
    color: $primary;
    @supports (-webkit-background-clip: text) {
      color:transparent;
      background-image: $primary-gradient;
      -webkit-background-clip: text;
    }
  }
  @include hover(){
    color: $link-hover-color;
    .fi{
      color: $danger;
      @supports (-webkit-background-clip: text) {
        color:transparent;
        background-image: $danger-gradient;
      }
    }
  }
}