.map__title {
  color: $primary;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: 1;
  width: 100%;
  @include GatewayForProperty($h6-font-size, $h2-font-size, $page-min-width, map_get($grid-breakpoints, 'xl'));
  &:not(:last-child){
    padding-bottom: $grid-gutter-width/2;
  }
}