.nav_inline {
  margin: 0 $grid-gutter-width/-2;
  @include media-breakpoint-down(xs){
    margin: 0 $grid-gutter-width/-3;
  }
  .nav-link{
    padding: $grid-gutter-width/6 $grid-gutter-width/2;
    transition: $transition-base;
    transition-property: color;
    @include media-breakpoint-down(xs){
      padding: $grid-gutter-width/6 $grid-gutter-width/3;
    }
    text-decoration: none;
    color: inherit;
    .text-large{
      font-size: 1.5em;
    }
    &[data-toggle]{
      span{border-bottom: 1px dashed;}
    }
    .fi{
      color: $primary;
      @supports (-webkit-background-clip: text) {
        color:transparent;
        background-image: $primary-gradient;
        -webkit-background-clip: text;
      }
    }
    @include hover(){
      color: $link-hover-color;
      .fi{
        color: $danger;
        @supports (-webkit-background-clip: text) {
          color:transparent;
          background-image: $danger-gradient;
        }
      }
    }
  }
}