.nav-panel__control {
  @include fi();
  &:before{content: map_get($icons, 'minus')}
  &.collapsed:before{content: map_get($icons, 'plus')}
  @include plain-hover-focus(){
    text-decoration: none;
  }
}