.card-product__price {
  font-weight: bold;
  white-space: nowrap;
  font-size: $h4-font-size;
  line-height: 1;
  min-width: 90px;
  padding-top: $font-size-lg;
  position: relative;
  small, del{
    position: absolute;
    top: 0;
    font-size: $font-size-lg;
    font-weight: $font-weight-normal;
  }

}