.navigation-panel__expanded {
  border-top: 1px dashed rgba($white, 0.3);
  padding-top: $grid-gutter-width/2;
  margin-top: $grid-gutter-width/2;
  @include navigation-desktop(){
    display: none;
  }
}