.map__inner {
  min-height: inherit;
  height: $page-min-width;
  border-radius: $border-radius;
  overflow: hidden;
  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}