.navigation-panel__a {
  @include navigation-mobile(){
    @include navigation-link();
  }
  @include navigation-desktop(){
    text-decoration: none;
    @include hover(){
      text-decoration: underline;
    }
    @include plain-hover-focus(){
      color: inherit;
    }
  }
}