.card-product__favorite {
  position: absolute;
  top: 0;
  right: 0;
  font-size: $h5-font-size;
  padding: $grid-gutter-width/6 $grid-gutter-width/2;
  color: $gray-400;
  &:hover,
  &.active{
    color: $primary;
    @supports (-webkit-background-clip: text) {
      color:transparent;
      background-image: $primary-gradient;
      -webkit-background-clip: text;
    }
  }
  &.active{
    .fi_icon_star-o:before{
      content: map_get($icons, 'star') !important;
    }
  }
  @include plain-hover-focus(){
    text-decoration: inherit;
  }
}